@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{

    /*Text*/
    --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
    --Softred: hsl(14, 88%, 65%);
    /*Gradient*/
    --Softviolet: hsl(273, 75%, 66%);
    --Softblue: hsl(240, 73%, 65%);
    /*Dividers*/
   --Lightgrayishblue: hsl(240, 5%, 91%);
   --Fontsize: 12px;
  --Weights: 400, 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--Softviolet), var(--Softblue));
}

.container{
    display: grid;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius:15px ;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
}


.box {
	display: none;
}

.card-wrapper {
	background-color: #ffffff;
	border-radius: 20px;
}

.card {
	margin-top: 10rem;
	padding: 2rem 2.5rem;
}

.card-img {
	margin: -17rem auto 0 auto;
	height: 280px;
	max-width: 500px;
	transform: scale(1.2);
	transform: translate(-5%);
	width: 100%;
	background: url("./images/illustration-woman-online-mobile.svg") no-repeat center center/contain;
}


/*************** questions*****************/


.text {
    display: flex;
    float: right;
    flex-direction: column;
}

.question {
    border-bottom: 2px solid var(--Lightgrayishblue);
}
.q-text{
    color: var(--darkdesaturatedblue);
    margin: 0.5rem 0;   
}


.arrow{
    margin-left: 0.5rem;
    cursor: pointer;
}
.answer{
    margin-bottom: 0.5rem;   
}


.hidden {
    display: none;
}

.q-text:hover {
    color: var(--Softred);
}


/*********************media****************************/

@media screen and (max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
        height: 90vh;
        margin: 1.5rem;
    }



    .text h1 {
        text-align: center;
        margin: 0.5rem 0;
    }

    .card-wrapper {
		max-width: 1000px;
		height: 80vh;
		width: 100%;
	}

	.card {
		height: 200%;
		padding: 0rem 2.5rem;
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	

}